<section class="works">
  <div class="works__container">
    <h2 class="works__title">In Latin, "barba" means "beard"</h2>
    <ul class="works__images-row images-row">
      <li class="images-row__item">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/product-item1-mobile-x1.jpg 1x,
              ./img/product-item1-mobile-x2.jpg 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1199px)"
            srcset="
              ./img/product-item1-tablet-x1.jpg 1x,
              ./img/product-item1-tablet-x2.jpg 2x
            "
          />
          <source
            media="(max-width:1200px)"
            srcset="
              ./img/product-item1-desktop-x1.jpg 1x,
              ./img/product-item1-desktop-x2.jpg 2x
            "
          />
          <img
            src="./img/product-item1-desktop-x1.jpg"
            srcset="./img/product-item1-desktop-x2.jpg 2x"
            alt=""
          />
        </picture>
      </li>

      <li class="images-row__item">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/product-item2-mobile-x1.jpg 1x,
              ./img/product-item2-mobile-x2.jpg 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1199px)"
            srcset="
              ./img/product-item2-tablet-x1.jpg 1x,
              ./img/product-item2-tablet-x2.jpg 2x
            "
          />
          <source
            media="(max-width:1200px)"
            srcset="
              ./img/product-item2-desktop-x1.jpg 1x,
              ./img/product-item2-desktop-x2.jpg 2x
            "
          />
          <img
            src="./img/product-item2-desktop-x1.jpg"
            srcset="./img/product-item2-desktop-x2.jpg 2x"
            alt=""
          />
        </picture>
      </li>

      <li class="images-row__item">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/product-item3-mobile-x1.jpg 1x,
              ./img/product-item3-mobile-x2.jpg 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1199px)"
            srcset="
              ./img/product-item3-tablet-x1.jpg 1x,
              ./img/product-item3-tablet-x2.jpg 2x
            "
          />
          <source
            media="(max-width:1200px)"
            srcset="
              ./img/product-item3-desktop-x1.jpg 1x,
              ./img/product-item3-desktop-x2.jpg 2x
            "
          />
          <img
            src="./img/product-item3-desktop-x1.jpg"
            srcset="./img/product-item3-desktop-x2.jpg 2x"
            alt=""
          />
        </picture>
      </li>

      <li class="images-row__item">
        <picture>
          <source
            media="(max-width:767.98px)"
            srcset="
              ./img/product-item4-mobike-x1.jpg 1x,
              ./img/product-item4-mobike-x2.jpg 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1199px)"
            srcset="
              ./img/product-item4-tablet-x1.jpg 1x,
              ./img/product-item4-tablet-x2.jpg 2x
            "
          />
          <source
            media="(max-width:1200px)"
            srcset="
              ./img/product-item4-desktop-x1.jpg 1x,
              ./img/product-item4-desktop-x2.jpg 2x
            "
          />
          <img
            src="./img/product-item4-desktop-x1.jpg"
            srcset="./img/product-item4-desktop-x2.jpg 2x"
            alt=""
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
