<section class="about" id="about">
  <div class="about__container">
    <ul class="about__images-row row-images">
      <li class="row-images__item">
        <picture>
          <source
            media="(max-width:1199px)"
            srcset="
              ./img/about-item1-tablet-x1.jpg 1x,
              ./img/about-item1-tablet-x2.jpg 2x
            "
          />
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/about-item1-desktop-x1.jpg 1x,
              ./img/about-item1-desktop-x2.jpg 2x
            "
          />

          <img
            src="./img/about-item1-desktop-x1.jpg"
            srcset="./img/about-item1-desktop-x1.jpg 2x"
            alt="exthample of work our barber #1"
            width="267"
          />
        </picture>
      </li>
      <li class="row-images__item">
        <picture>
          <source
            media="(max-width:1199px)"
            srcset="
              ./img/about-item2-tablet-x1.jpg 1x,
              ./img/about-item2-tablet-x2.jpg 2x
            "
          />
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/about-item2-desktop-x1.jpg 1x,
              ./img/about-item2-desktop-x2.jpg 2x
            "
          />

          <img
            src="./img/about-item1-desktop-x1.jpg"
            srcset="./img/about-item1-desktop-x1.jpg 2x"
            alt="exthample of work our barber #1"
            width="267"
          />
        </picture>
      </li>
    </ul>
    <div class="content__about about-content">
      <h3 class="about-content__subtitle subtitle">About</h3>
      <h2 class="about-content__title title">Best Barbershop in your city</h2>
      <p class="about-content__description">
        If you want to add more confidence to your image, you should definitely
        visit us.
      </p>
      <p class="about-content__text text">
        We are a team that never stops at what has been achieved and are thirsty
        for changes. And when you fall into the hands of our master, you will
        never be the same again. We are a team that is always "on the same wave"
        with clients. Therefore, we are always ready to improve everyone who
        comes to us!
      </p>
      <a href="#contacts" class="about-content__button button"
        >ONLINE-BOOKING</a
      >
    </div>
  </div>
</section>
