  <section class="hero" id="home">
    <div class="hero__container">
      <div class="hero__wrapper">
        <div class="heroaside">
          <ul class="hero__social hero-social">
            <li class="hero-social__item">
              <a
                class="hero-social__link social-link"
                target="_blank"
                href="http://instagram.com"
                >Instagram</a
              >
            </li>
            <li class="hero-social__item">
              <a class="hero-social__link social-link" target="_blank" href="http://youtube.com"
                >Youtube</a
              >
            </li>
          </ul>
        </div>
        <div class="hero__content hero-content">
          <h2 class="hero-content__subtitle subtitle">A hair salon for men in Kyiv</h2>
          <h1 class="hero-content__title">BarberShop</h1>
          <p class="hero-content__text text">
            We are experts in trendy men’s haircuts.<br>Work quickly, carefully and
            with style.
          </p>
          <ul class="hero__content-actions hero-content-actions">
            <li class="hero-content-actions__item">
              <a href="" class="hero-content-actions__link">Back</a>
            </li>
            <li class="hero-content-actions__item">
              <a href="" class="hero-content-actions__link">Forward</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
