<section class="price" id="price">
  <div class="price__container">
    <div class="price__content price-content">
      <h3 class="price-content__subtitle subtitle">
        Spend your time with the best masters
      </h3>
      <h2 class="price-content__title title">Services and prices</h2>
    </div>
    <div class="price__tables-row">
      <ul class="price__tables-menu price-table-menu">
        <li class="price-table-menu__item">
          Men’s haircut<span></span>from 300 uah.
        </li>
        <li class="price-table-menu__item">
          Beard trim <span></span>from 300 uah.
        </li>
        <li class="price-table-menu__item">
          Mustache trim <span></span>from 200 uah.
        </li>
        <li class="price-table-menu__item">
          Straight razor shave <span></span>from 200 uah.
        </li>
      </ul>

      <ul class="price__tables-menu price-table-menu">
        <li class="price-table-menu__item">
          Trainee’s haircut <span></span>from 50 uah.
        </li>
        <li class="price-table-menu__item">
          Haircut under the nozzle <span></span>from 200 uah.
        </li>
        <li class="price-table-menu__item">
          Children’s haircut (0-12 y.o.) <span></span>from 200 uah.
        </li>
        <li class="price-table-menu__item">
          Camouflage of gray hair <span></span>from 300 uah.
        </li>
      </ul>
    </div>
    <div class="price__actions price-actions">
      <a href="" class="price-actions__button button">online-booking</a>
    </div>
  </div>
</section>
