<section class="whyweare">
  <div class="whyweare__container">
    <div class="whyweare__testmonials testmonials-whyweare">
      <ul class="testmonials-whyweare__menu">
        <li class="testmonials-whyweare__items">
          <h4 class="testmonials-whyweare__title">600<sup>&#43;</sup></h4>
          <p class="testmonials-whyweare__text">Satisfied customers per day</p>
        </li>
  
        <li class="testmonials-whyweare__items">
          <h4 class="testmonials-whyweare__title">50<sup>&#43;</sup></h4>
          <p class="testmonials-whyweare__text">Awards for excellent service</p>
        </li>
        </ul>

        <ul class="testmonials-whyweare__menu">
        <li class="testmonials-whyweare__items">
          <h4 class="testmonials-whyweare__title">20<sup>&#43;</sup></h4>
          <p class="testmonials-whyweare__text">Kyiv’s best barbers</p>
        </li>
  
        
        <li class="testmonials-whyweare__items">
          <h4 class="testmonials-whyweare__title">100<sup>&#43;</sup></h4>
          <p class="testmonials-whyweare__text">Gifts for regular customers</p>
        </li>
      </ul>
    </div>

    <div class="whyweare__content content-whyweare">
      <h3 class="content-whyweare__subtitle">Old traditional school</h3>
      <h2 class="content-whyweare__title">&#191;Why people come<br> to us?&#63;</h2>
      <p class="content-whyweare__text">
        Only good things are said about us. But it's better to see and feel 1
        time than read 10 times.
      </p>
    </div>
  </div>
</section>
