<section class="team" id="barbers">
  <div class="team__container">
    <h3 class="team__subtitle subtitle title_black">
      For true enjoyers of the atmosphere
    </h3>
    <h2 class="team__title title title_black">Our barbers</h2>
    <ul class="team__cards-row team-cards-row">
      <li class="team-cards-row__item">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/spesialist-item1-mobile-x1.jpg 1x,
              ./img/spesialist-item1-mobile-x2.jpg 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1199px)"
            srcset="
              ./img/spesialist-item1-tablet-x1.jpg 1x,
              ./img/spesialist-item1-tablet-x2.jpg 2x
            "
          />
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/spesialist-item1-desktop-x1.jpg 1x,
              ./img/spesialist-item1-desktop-x2.jpg 2x
            "
          />
          <img
            src="./img/spesialist-item1-desktop-x1.jpg"
            srcset="./img/spesialist-item1-desktop-x2.jpg"
            alt=""
          />
        </picture>
        <div class="team-cards-row__about-card-wrapper">
          <h4 class="team-cards-row__name">John Smith</h4>
          <p class="team-cards-row__profession">Extreme Barber</p>
        </div>

        <ul class="team__social team-social">
          <li class="team-social__item">
            <a
              href="http://instagram.com"
              rel="noreferrer noopener"
              aria-label="link on the instagram"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="team-social__item">
            <a
              href="https://twitter.com/?lang=en"
              rel="noreferrer noopener"
              aria-label="link on the twitter"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team-social__item">
            <a
              href="https://www.facebook.com/"
              rel="noreferrer noopener"
              aria-label="link on the facebook"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-social__item">
            <a
              href="https://www.linkedin.com/"
              rel="noreferrer noopener"
              aria-label="link on the linkedin"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <!-- Card 2 -->
      <li class="team-cards-row__item">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/spesialist-item2-mobile-x1.jpg 1x,
              ./img/spesialist-item2-mobile-x2.jpg 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1199px)"
            srcset="
              ./img/spesialist-item2-tablet-x1.jpg 1x,
              ./img/spesialist-item2-tablet-x2.jpg 2x
            "
          />
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/spesialist-item2-desktop-x1.jpg 1x,
              ./img/spesialist-item2-desktop-x2.jpg 2x
            "
          />
          <img
            src="./img/spesialist-item2-desktop-x1.jpg"
            srcset="./img/spesialist-item2-desktop-x2.jpg"
            alt=""
          />
        </picture>
        <div class="team-cards-row__about-card-wrapper">
          <h4 class="team-cards-row__name">Michele Doe</h4>
          <p class="team-cards-row__profession">Extreme Barber</p>
        </div>
        <ul class="team__social team-social">
          <li class="team-social__item">
            <a
              href="http://instagram.com"
              rel="noreferrer noopener"
              aria-label="link on the instagram"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="team-social__item">
            <a
              href="https://twitter.com/?lang=en"
              rel="noreferrer noopener"
              aria-label="link on the twitter"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team-social__item">
            <a
              href="https://www.facebook.com/"
              rel="noreferrer noopener"
              aria-label="link on the facebook"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-social__item">
            <a
              href="https://www.linkedin.com/"
              rel="noreferrer noopener"
              aria-label="link on the linkedin"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>

      <!-- Card 3  -->
      <li class="team-cards-row__item">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/spesialist-item3-mobile-x1.jpg 1x,
              ./img/spesialist-item3-mobile-x2.jpg 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1199px)"
            srcset="
              ./img/spesialist-item3-tablet-x1.jpg 1x,
              ./img/spesialist-item3-tablet-x2.jpg 2x
            "
          />
          <source
            media="(min-width:1200px)"
            srcset="
              ./img/spesialist-item3-desktop-x1.jpg 1x,
              ./img/spesialist-item3-desktop-x2.jpg 2x
            "
          />
          <img
            src="./img/spesialist-item3-desktop-x1.jpg"
            srcset="./img/spesialist-item3-desktop-x2.jpg"
            alt=""
          />
        </picture>
        <div class="team-cards-row__about-card-wrapper">
          <h4 class="team-cards-row__name">Alan Black</h4>
          <p class="team-cards-row__profession">Extreme Barber</p>
        </div>
        <ul class="team__social team-social">
          <li class="team-social__item">
            <a
              href="http://instagram.com"
              rel="noreferrer noopener"
              aria-label="link on the instagram"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="team-social__item">
            <a
              href="https://twitter.com/?lang=en"
              rel="noreferrer noopener"
              aria-label="link on the twitter"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="team-social__item">
            <a
              href="https://www.facebook.com/"
              rel="noreferrer noopener"
              aria-label="link on the facebook"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="team-social__item">
            <a
              href="https://www.linkedin.com/"
              rel="noreferrer noopener"
              aria-label="link on the linkedin"
              class="team-social__link"
              target="_blank"
            >
              <svg width="20" height="20">
                <use xlink:href="./img/icons/icons.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
