//====================================================================================================
.footer {
   padding: 56px 0;
   // .footer__container
   &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
   }
   // .footer__description
   &__description {
      flex: 0 0 50%;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.2em;
      color: #303030;
   }
   // .footer__social
   &__social {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 40px;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 11px;
      line-height: 15px;
      letter-spacing: 0.2em;
      color: #303030;
   }
}
@media screen and (max-width: 420px) {
   .social-footer__item.social-line {
      &:not(:last-child) {
         &::before {
            display: none;
         }
      }
   }
}

.social-footer {
   // .social-footer__item
   &__item {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   // .social-footer__link
   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}

//====================================================================================================
