//====================================================================================================
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	color: $textWhite;

	// .header__container
	&__container {
	}
	// .header__nav
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include min-1200 {
		}
		@include min-768 {
			display: flex;
			justify-content: space-between;
		}
		@include max-767 {
			margin-top: 2.5rem;
		}

		@include min-1200 {
			margin-top: 2.5rem;
		}
	}
	// .header__logo
	&__logo {
		z-index: 3;
		@include min-1200 {
		}
	}
	// .header__menu
	&__menu {
		display: flex;

		@include min-1200 {
			margin-left: -6.25rem;
			column-gap: 1.875rem;
		}
		@include min-768 {
			column-gap: 1.25rem;
			margin-left: 3.125rem;
		}

		@include max-767 {
			display: none;
		}
	}
	// .header__item
	&__item {
	}
	// .header__link
	&__link {
	}
	// .header__mobile-menu
	&__mobile-menu {
		position: relative;
		top: 0;
	}
	// .header__mobile-actions
	&__mobile-actions {
		margin-bottom: 2.5rem;
	}
	// .header__mobile-social
	&__mobile-social {
	}
	// .header__action-menu
	&__action-menu {
		display: flex;
		letter-spacing: 0.09em;
		@include min-1200 {
			column-gap: 2.6875rem;
		}
		@include min768-max1199 {
			flex-direction: column-reverse;
			flex-wrap: wrap;
			row-gap: 1.25rem;
			margin-top: 2.5rem;
		}
		@include max-767 {
			display: none;
		}
	}
}
.menu-toggle {
	@include min-768 {
		display: none;
	}
}
.js-open-menu {
	color: $textWhite;
	transition: color $animation;
	svg {
		fill: currentColor;
	}
	&:hover,
	&:focus {
		color: $hovercolor;
	}
}
.menu-button-icon {
}
.menu-container.js-menu-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
}
.menu-container.js-menu-container.is-open {
	display: block;
	background-color: rgba(25, 28, 38, 0.2);
	@include min-768 {
		display: none;
	}
}
.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	color: $titlecolor;
	overflow: auto;
	height: 100vh;
	background-color: $textWhite;
	display: flex;
	flex-direction: column;
	padding: 40px 0px 40px 40px;
	justify-content: space-between;
	@include max-479 {
		width: 70%;
	}
	@include min-480 {
		width: 50%;
	}
}

@media screen and (max-width: 360px) {
	.backdrop {
		width: 100vw;
	}
}
.js-menu-container {
}
.js-close-menu {
	position: absolute;
	top: 3rem;
	right: 1.9375rem;
	transition: color $animation;
	&:hover,
	&:focus {
		color: $hovercolor;
	}
	svg {
		fill: currentColor;
		width: 1.125rem;
		height: 1.125rem;
	}
}
.menu-button-close {
}
.header-mobile {
	// .header-mobile__menu
	&__menu {
		font-size: 18px;
		line-height: 1.38;
		margin-top: 118px;
		padding-bottom: 70px;
	}
	// .header-mobile__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	// .header-mobile__link
	&__link {
	}
}
.header-mobile-actions {
	// .header-action-menu__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
	// .header-action-menu__link
	&__link {
		font-size: 18px;
		line-height: 1.38;
		&_button {
			color: #000;
			&:focus,
			&:hover {
				color: $textWhite;
			}
		}
	}
	&__button {
	}
}

.mobile-social-header {
	// .mobile-social-header__menu
	&__menu {
		padding-top: 70px;
		margin-left: 6.25rem;
		font-size: 14px;
		line-height: 1.35;
		letter-spacing: 0.2em;
	}
	// .mobile-social-header__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
	// .mobile-social-header__link
	&__link {
	}
}
.mobile-social-header__item.social-line {
	&:not(:last-child) {
		&::before {
			position: absolute;
			top: 10px;
			left: -30px;
		}
	}
}
.header-action-menu {
	// .header-action-menu__item
	&__item {
	}
	// .header-action-menu__link
	&__link {
		margin-left: 20px;
	}
	// .header-action-menu__button
	&__button {
	}
}

.button {
}

//====================================================================================================
