//========================/ Hero Section /====================================
.page {
  position: relative;
}
.hero {
  @include min480-max767 {
    background: url("../img/hero-tablet-bg-x1.jpg") 0 0 no-repeat;
    background-position: 50% 0%;
    background-size: cover;
  }
  @include min480-max767-retina {
    background: url("../img/hero-tablet-bg-x2.jpg") 0 0 no-repeat;
    background-position: 50% 0%;
    background-size: cover;
  }
  // .hero__container
  &__container {
    position: relative;
    @include max-479 {
      background: url("../img/hero-mobile-bg-x1.jpg") 0 0 no-repeat;
      background-position: 50% 0%;
      background-size: cover;
    }
    @include max479-retina {
      background: url("../img/hero-mobile-bg-x2.jpg") 0 0 no-repeat;
      background-position: 50% 0%;
      background-size: cover;
    }
    @include min-1200 {
      background: url("../img/hero-desktop-bg-x1.jpg") 0 0 no-repeat;
      background-position: top right;
    }
    @include min1200-retina {
      background: url("../img/hero-desktop-bg-x1.jpg") 0 0 no-repeat;
      background-position: top right;
    }
  }
  // .hero__wrapper
  &__wrapper {
    @include min-768 {
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 42.5rem;
    }
  }
  // .hero__social
  &__social {
    display: flex;
    transform: rotate(-90deg);
    position: absolute;
    column-gap: 2.5rem;
    left: -3.125rem;
    bottom: -8.3125rem;
    &:hover::before {
      background-color: $hovercolor;
    }
    &::before {
    }
  }
  // .hero__content
  &__content {
    @include min768-max1199 {
      background: url("../img/hero-tablet-bg-x1.jpg") 0 0 no-repeat;
      background-position: top right;
      background-size: cover;
    }
    @include min768-max1199-retina {
      background: url("../img/hero-tablet-bg-x2.jpg") 0 0 no-repeat;
      background-position: top right;
      background-size: cover;
    }

    height: 100%;
    @include adaptiveValue("padding-top", 272, 208);
    @include adaptiveValue("padding-bottom", 272, 208);
    @include max-767 {
      padding-left: 30px;
    }
    @include min-768 {
      width: 90%;
      padding-left: 100px;
    }
    @include min-1200 {
      width: 90%;
    }
  }
  // .hero__content-actions
  &__content-actions {
    position: absolute;
    bottom: 2.5rem;
    right: 0.9375rem;
    display: flex;
    column-gap: 1.5rem;
    @include min768-max1199 {
      right: 1.875rem;
    }
  }
}
.heroaside {
  display: flex;
  position: relative;
  align-items: center;
  @include min-1200 {
    width: 10%;
  }
  @include min768-max991 {
    background-color: #fff;
    width: 12%;
  }
  @include min992-max1199 {
    width: 10%;
  }
  @include max-767 {
    display: none;
  }
}
.hero-social {
  // .hero-social__item
  &__item.social-line {
    &:not(:last-child) {
      &::before {
        top: 18px;
        left: -30px;
        background-color: #303030;
      }
    }
  }
  // .hero-social__link
  &__link {
  }
}
.hero-content {
  // .hero-content__subtitle
  &__subtitle {
    margin-bottom: 1.25rem;
  }
  // .hero-content__title
  &__title {
    @include adaptiveValue("font-size", 48, 38, 3, 480);
    @include min-480 {
      font-size: 48px;
    }
    line-height: 1.16; /* 56px/48 */
  }

  // .hero-content__text
  &__text {
    color: #9da4bd;
  }
}
.hero-content-actions {
  // .hero-content-actions__item
  &__item {
    font-size: 11px;
    letter-spacing: 0.1em;
    position: relative;
    &:nth-child(1) {
      color: #fff;
      &::before {
        background-color: rgba(157, 164, 189, 0.6);
      }
    }
    &:nth-child(2) {
      color: $textWhite;
      &::before {
        background-color: $textWhite;
      }
    }

    &::before {
      content: " ";
      display: block;
      width: 3.75rem;
      height: 0.0625rem;
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  // .hero-content-actions__link
  &__link {
  }
}

//========================/ Hero Section /====================================
