//========================/ Section - price /===================================//
.price {
   position: relative;
   background-position: 50% 50%;
   background-size: cover;
   background-color: #111319;
   display: block;
   margin: 0 auto;
   padding: 120px 0;
   width: 100vw;
   @include max-767 {
      padding: 120px 0;
   }
   @include min-768 {
      padding: 97px 0;
   }
   @include min-1200 {
      padding: 84px 0;
   }
   &::before {
      content: " ";
      display: block;
      position: absolute;
      margin: 0 auto;
      top: 0;
      left: 50%;
      width: 100vw;
      height: 100%;
      background: url("../img/prices-bg-desktop-x1.jpg") 0 0 no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      opacity: 0.2;

      @include min768-max1199 {
         background: url("../img/prices-bg-tablet-x1.jpg") 0 0 no-repeat;
         background-position: 50% 50%;
         background-size: cover;
      }

      @include max-767 {
         background: url("../img/prices-bg-mobile-x1.jpg") 0 0 no-repeat;
         background-position: 50% 50%;
         background-size: cover;
      }
      @include max479-retina {
         background: url("../img/prices-bg-mobile-x2.jpg") 0 0 no-repeat;
         background-position: 50% 50%;
         background-size: cover;
      }
      @include min768-retina {
         background: url("../img/prices-bg-tablet-x2.jpg") 0 0 no-repeat;
         background-position: 50% 50%;
         background-size: cover;
      }
      @include min1200-retina {
         background: url("../img/prices-bg-desktop-x2.jpg") 0 0 no-repeat;
         background-position: 50% 50%;
         background-size: cover;
      }
   }
   // .price__container
   &__container {
   }
   // .price__content
   &__content {
   }
   // .price__tables-row
   &__tables-row {
      margin-bottom: 44px;
      @include min-768 {
         display: flex;
         justify-content: center;
         column-gap: 30px;
         flex-wrap: wrap;
      }
      @include min-1200 {
         flex-wrap: nowrap;
      }
   }
   // .price__tables-menu
   &__tables-menu {
      flex: 0 0 570px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 240px;
      padding: 30px 20px;
      &:nth-child(1) {
         background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
      }
      &:nth-child(2) {
         background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
      }
   }
   // .price__actions
   &__actions {
      display: flex;
      justify-content: center;
   }
}

.price-content {
   // .price-content__subtitle
   &__subtitle {
      font-weight: 600;
      font-size: 11px;
      line-height: 15px;
      text-transform: uppercase;
      color: rgba(157, 164, 189, 0.6);
      margin-bottom: 20px;
      @include max-1199 {
         text-align: center;
      }
      &::before {
         content: " ";
         display: inline-block;
         width: 60px;
         height: 1px;
         background-color: rgba(157, 164, 189, 0.6);
         position: relative;
         top: -3px;
         margin-right: 20px;
      }
   }
   // .price-content__title
   &__title {
      font-weight: 700;
      font-size: 42px;
      line-height: 49px;
      letter-spacing: 0.05em;
      color: #ffffff;
      margin-bottom: 44px;
      @include max-1199 {
         text-align: center;
      }
   }
}

.price-table-menu {
   // .price-table-menu__item
   &__item {
      display: flex;
      column-gap: 12px;
      justify-content: space-between;
      color: #9da4bd;
      span {
         flex: 1 1 auto;
         border-bottom: 1px solid rgba(157, 164, 189, 0.12);
      }
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
}
.price-actions {
   // .price-actions__button
   &__button {
      text-align: center;
      padding: 12px 20px;
      border: 1px solid $hovercolor;
      border-radius: 25px;
      text-transform: uppercase;
      color: #ffffff;
      z-index: 4;
      &:hover {
         display: inline-block;
         background-color: $hovercolor;
         color: #ffffff;
      }
   }
}

//========================/ Section - price /===================================//
