//========================/ Section - Works /===================================//
.works {
   @include adaptiveValue("padding-top", 120, 84);
   @include adaptiveValue("padding-bottom", 120, 84);
   background-color: #fff;
   // .works__title
   &__title {
   }
   // .works__images-row
   &__images-row {
      margin-top: 44px;
      display: flex;
      gap: 30px;
      @include min-768 {
         flex-wrap: wrap;
      }
      @include max-767 {
         flex-direction: column;
         justify-content: center;
         align-items: center;
      }
   }
}
.images-row {
   // .images-row__item
   &__item {
      @include min-768 {
         flex-basis: calc((100% - 30px) / 2);
      }
      @include min-1200 {
         flex-basis: calc((100% - 90px) / 4);
      }
   }
}

//========================/ Section - Works /===================================//
