//========================/ Section - about /===================================//
.about {
   @include adaptiveValue("padding-top", 120, 84);
   @include adaptiveValue("padding-bottom", 120, 84);

   // .about__container
   &__container {
      @include min-768 {
         display: flex;
      }

      column-gap: 2.5rem;
   }
   // .about__images-row
   &__images-row {
      display: flex;
      flex: 0 0 50%;
      column-gap: 2.5rem;
      @include max-1199 {
         flex-direction: column;
         row-gap: 1.875rem;
      }
      @include max-767 {
         margin-bottom: 5.25rem;
      }
   }
}
.row-images {
   // .row-images__item
   &__item {
   }
}
.content {
   // .content__about
   &__about {
      @include adaptiveValue("padding-top", 88, 50, 2, 991, 768);
      @include adaptiveValue("padding-top", 0, 70, 2, 1200, 991);

      @include max-767 {
         padding: 0px 40px;
      }
   }
}
.about-content {
   // .about-content__subtitle
   &__subtitle {
      margin-bottom: 20px;
      color: $titlecolor;
   }
   // .about-content__title
   &__title {
   }
   // .about-content__description
   &__description {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      letter-spacing: 0.02em;
      color: #555555;
      margin-bottom: 20px;
   }
   // .about-content__text
   &__text {
      color: #555555;
      margin-bottom: 42px;
   }
   // .about-content__button
   &__button {
      color: $mainColor;
      &:hover,
      &:focus {
         color: $textWhite;
      }
   }
}
//========================/ Section - about /===================================//
