//========================/ Section WhyWeAre /====================================//
.whyweare {
   background-color: #fff;
   @include adaptiveValue("padding-top", 120, 84);
   @include adaptiveValue("padding-bottom", 120, 84);

   @include min-991 {
      padding-right: 69px;
      padding-left: 69px;
   }
   // .whyweare__container
   &__container {
      display: flex;
      @include min-1200 {
         justify-content: center;
      }
      @include max-991 {
         flex-direction: column;
         row-gap: 44px;
         align-items: center;
      }
   }
   // .whyweare__testmonials
   &__testmonials {
      display: flex;
      column-gap: 30px;

      @include max-991 {
         order: 2;
      }
      @include max-479 {
         flex-wrap: wrap;
      }
      @include max-767 {
         justify-content: center;
      }
   }
   // .whyweare__content
   &__content {
      flex: 0 0 50%;

      @include max-1199 {
         max-width: 500px;
      }
      @include max-1199 {
         order: 1;
      }
      @include min-991 {
         padding: 0px 0px 0px 130px;
      }
   }
}
.testmonials-whyweare {
   // .testmonials-whyweare__menu
   &__menu {
      &:nth-child(2) {
         margin-top: 40px;
      }
   }
   // .testmonials-whyweare__items
   &__items {
      width: 170px;
      min-height: 133px;
      background-color: #f7f7f7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 24px;
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }
   // .testmonials-whyweare__title
   &__title {
      position: relative;

      line-height: 57px;
      text-align: center;

      sup {
         position: absolute;
         font-size: 16px;
         line-height: 22px;
         color: $hovercolor;
      }
   }
   // .testmonials-whyweare__text
   &__text {
   }
}
.content-whyweare {
   // .content-whyweare__subtitle
   &__subtitle {
      &::before {
      }
      // .content-whyweare__title
      &__title {
      }
      // .content-whyweare__text
      &__text {
      }
   }
}

//========================/ Section WhyWeAre /====================================//
